<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Mercado Liebre"}) %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <%- include('./partials/carousel') %>
    <%- include('./partials/mediospago') %>

    <script src="/js/carousel.js"></script>
</body>
</html>