    <div class="brand">
    <img class="grande" src="/images/logo-mercado-liebre.svg">
    <img class="mobile" src="/images/logo__small.png">
    <form class="buscar" action="">
        <input type="text" placeholder="Buscar productos, marcas y más...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <img src="/images/starplus.webp" class="star">
    </div>
<div class="nav">
    <div>
        <i class="fas fa-map-marker-alt"></i>
        <div><p class="enviar">Enviar a</p>
             <p class="cp">Capital Federal</p>
        </div>
    </div>
    <nav>
        <button class="bars"><i class="fas fa-bars"></i></button>
        <ul>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Historial</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
</div>