<div class="tarjetas">
    <ul>
        <li><img src="/images/credit-card.svg" alt="">
            <div class="textoTarjetas"><h5>Tarjeta de crédito</h5>
            <p><a href="#">Ver promociones bancarias</a></p></div>
        </li>
        <li>
            <img src="/images/debit-card.svg" alt="">
            <div class="textoTarjetas"><h5>Tarjeta de débito</h5>
            <p><a href="#">Ver más</a></p></div>
        </li>
        <li>
            <img src="/images/mercado-creditsv2.svg" alt="">
            <div class="textoTarjetas"><h5>Cuotas sin tarjetas</h5>
            <p><a href="#">Conocé Mercado Pago</a></p></div>
        </li>
        <li><img src="/images/payment-agreement.svg" alt="">
            <div class="textoTarjetas"><h5>Efectivo</h5>
            <p><a href="#">Ver más</a></p></div>
        </li>
        <li>
            <div><img src="/images/view-more.svg" alt=""></div>
        </li>
        </ul>
</div>